<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (user && user.isLoggedIn) { %>
      <a href="/account/profile" title="View your account">My Account</a>
      <a href="/account/logout" title="Log out of your account">Logout</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
    <% if (user && user.isLoggedIn && user.role === 'basic') { %>
      <a href="/account/welcome-basic" title="Welcome Basic">Welcome Basic</a>
    <% } %>
  </div>
</header>

